<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Serve static content like CSS and JS -->
        <staticContent>
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <!-- You can add more mime types here as needed -->
        </staticContent>
    </system.webServer>
</configuration>
